#window {
  background-color: #24283b;
  font-family: "Manrope";
  color: #a9b1d6;
}

#input {
  background-color: #24283b;
  border-radius: 0;
  border-color: transparent;
  color: #a9b1d6;
  padding: 5px;
}

#entry {
  padding: 5px;
  border-radius: 0;
}

#entry:selected {
  background-color: #414868;
  outline: none;
}
